
<div class="game_display_base">
  お題は
  <span style="background-color: <%= @subject.category.color %>">
    <%= "［#{@subject.name_zen}（#{@subject.phonetic}, #{@subject.name}）］" %>
  </span>
  です。<br />
  <br />
  <%= link_to "お題を覚えたら、ここをクリックしてください。",
              :action => 'show_category', :category_id => @subject.category %>
  <br />
  <% if @ready_to_next -%>
    <%= link_to "このお題を終了するには、ここをクリックしてください。", :action => 'turn' %>
  <% end -%>
</div>

