
<div class="game_display_base">
  お題は
  <span>
    <% name_zen = @subject.name_zen
       phonetic = @subject.phonetic
       phonetic_display = @subject.needs_phonetic? ? "#{phonetic}, " : "" -%>
    <%= "［#{name_zen}（#{phonetic_display}#{@subject.name}）］" %>
  </span>
  です。<br />
  <br />
  声を出さないでください。<br />
  絵に文字、数字を使ってはいけません。<br />
  <br />
  <%= link_to "お題を覚えたら、ここをクリックしてください。",
              :action => 'show_category', :category_id => @subject.category, :subject_id => @subject %>
  <br />
  <% if @ready_to_next -%>
    <br />
    <%= link_to "このお題を終了するには、ここをクリックしてください。", :action => 'turn' %>
  <% end -%>
</div>

