
<div class="game_display_base">
  まず問題のジャンルを決めます。<br />
  <br />
  <table>
    <tr>
      <% @categories.each do |category| -%>
        <td style="background-color: <%= category.color %>">
          <%= link_to "#{category.abbr} #{category.name_zen}", show_category_path(category) %>
        </td>
      <% end -%>
    </tr>
  </table>
  上からジャンルを選ぶか、下をクリックしてください。<br />
  <br />
  <%= link_to "ジャンルをランダムに決定します", show_category_path(@category_id) %>
</div>

