
<table class="table_base">
  <tr>
    <% @column_names.each do |column_name| -%>
      <th><%= Subject.human_attribute_name(column_name) %></th>
    <% end -%>
  </tr>

  <% @subjects.each do |subject| -%>
    <tr>
      <% @column_names.each do |column_name| -%>
        <%= render :partial => 'list_row',
                   :locals  => {:subject => subject, :column_name => column_name} %>
      <% end -%>
    </tr>
  <% end -%>
</table>

